{{ define "title"}} About {{ end }}

{{ define "main" }}
    <h2>About</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores debitis illum minima quae quia sunt tenetur
        totam. Consectetur eos, magnam.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid atque beatae blanditiis
        deleniti excepturi, exercitationem fugiat iste itaque laudantium numquam quis quisquam, quos sapiente ullam
        voluptates! Animi aut praesentium quo.
    </p>
{{ end }}